<template>
<div>
    <div class="text-left">
        <div>
            <form class="form-signin" @submit.prevent="validateBeforeSubmitAdd()">
                <h4>Slug</h4>
                <input class="form-control mb-2" name="Slug" v-model="Slug" @keyup="setRegxSlug()" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('Slug') }" type="text" placeholder="Slug">
                <span v-show="errors.has('Slug')" class="form-text text-danger mb-2">{{ errors.first('Slug') }}</span>
                <h4>Short Description</h4>
                <textarea class="form-control mb-2" rows="3"  name="ShortDescription" v-model="ShortDescription" :class="{'input': true, 'is-danger': errors.has('ShortDescription') }"  placeholder="ShortDescription"></textarea>
                <span v-show="errors.has('ShortDescription')" class="form-text text-danger mb-2">{{ errors.first('ShortDescription') }}</span>
                <h4>Thumbnail Image</h4>
                <div class="row">
                    <div class="col-md-12 " id="upload">
                        <vs-upload limit="1" name="ThumbnailImage" automatic action="" @on-success="successUpload()" v-model="ThumbnailImage" :class="{'input': true, 'is-danger': errors.has('ThumbnailImage') }" />
                    </div>
                </div>
                <!-- <span v-show="errors.has('ThumbnailImage')" class="form-text text-danger mb-2">{{ errors.first('ThumbnailImage') }}</span> -->
                <h4>Categories</h4>

                <select name="Categories"  class="form-control" v-model="CategoriesId" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('CategoriesId') }">
                          <option :key="index" v-for="(item,index) in categories" :value=item.value  >{{item.text}} </option>
                          <!-- <option v-for="option in selectItemData" v-bind:value="option.value"> {{ option.text }}</option> -->
                        </select>
                <span v-show="errors.has('CategoriesId')" class="form-text text-danger mb-2">{{ errors.first('CategoriesId') }}</span>

                <h4>Content</h4>
                <froala :tag="'textarea'" id="fradd" name="Content" :config="config" v-model="Content" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('Content') }"></froala>
                <span v-show="errors.has('Content')" class="form-text text-danger mb-2">{{ errors.first('Content') }}</span>
                <vs-button class="btn btn-md btn-primary btn-block mb-1" type="submit">Save</vs-button>
            </form>
        </div>
    </div>
</div>
</template>

<script>
import service from "@/service/admin/PostService.js";
import serviceCategories from "@/service/admin/CategoriesService.js";
export default {
  beforeCreate() {
    this.$vs.loading({
      color: "#7d0c3f"
    });
  },
  created() {
    serviceCategories
      .getData()
      .then(res => {
        var message = res.message;
        this.$vs.loading.close();
        this.CategoriesId = res.item[0].id;
        this.categories = res.item.map(data => {
          return {
            value: data.id,
            text: data.name
          };
        });
      })
      .catch(err => {
        this.$vs.loading.close();
      });
  },
  props: {
    closeAdd: false
  },
  data() {
    return {
      categories: [],
      config: {
        imageUploadURL: "https://localhost:44383/api/UploadFile/Upload/",
        imageUploadParams: {
          location: "content-page-images"
        },
        events: {
          "froalaEditor.initialized": function() {}
        },
        height: 300
      },
      CategoriesId: "",
      Content: "",
      _id: "",
      Name: "",
      Description: "",
      isAddPopup: false,
      isDeletePopup: false,
      isEditPopup: false,
      show: true,
      ThumbnailImage: "",
      ShortDescription: "",
      Slug: ""
    };
  },
  methods: {
    setRegxSlug() {
      this.Slug = this.nonAccentVietnamese(this.Slug);
    },
    validateBeforeSubmitAdd() {
      var self = this;
      this.ThumbnailImage = $("#upload")
        .find("img")
        .attr("src");
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$vs.loading({
            color: "#7d0c3f"
          });
          var obj = {
            Id: "",
            ShortDescription: this.ShortDescription,
            Slug: this.Slug,
            ThumbnailImage: this.ThumbnailImage,
            Content: this.Content,
            CategoriesId: this.CategoriesId
          };

          service
            .created(obj)
            .then(res => {
              this.$vs.loading.close();
              this.isAddPopup = false;
              var message = res.message;
              if (res.isError) {
                this.$vs.notify({
                  title: "Add new Item",
                  text: message,
                  color: "red",
                  position: "top-center"
                });
              } else {
                this.isAddPopup = false;
                this.$vs.notify({
                  title: "Add new Item",
                  text: message,
                  color: "green",
                  position: "top-center"
                });
              }
              self.$router.push({
                name: "post"
              });
            })
            .catch(err => {
              this.$vs.loading.close();
              this.$vs.notify({
                title: "Add new Item",
                text: "error add item",
                color: "green",
                position: "top-center"
              });
            });
          return;
        }
      });
    },
    successUpload() {
      this.$vs.notify({
        color: "success",
        title: "Upload Success"
        // text: "Lorem ipsum dolor sit amet, consectetur"
      });
    }, // end add popup
    // start delete popup
    nonAccentVietnamese(str) {
      str = str.toLowerCase();
      str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
      str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
      str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
      str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
      str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
      str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
      str = str.replace(/đ/g, "d");
      str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, "");
      str = str.replace(/\u02C6|\u0306|\u031B/g, "");
      str = str.replace(/[^a-zA-Z0-9]/g, "-");
      str = str.replace(/(-){2,1000}/g, "-");
      return str;
    }
  }
};
</script>
