<template>
<div class="bg-primary text-white m-2 p-2">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" v-model="checked" />
        <label>Checkbox</label>
    </div>
    Checked Value: {{ checked }}
    <div class="bg-info p-2">
        unchecked:
        <div v-for="item in filterTask" :key="item.id" >
              <div>
                name: {{item.name}}
                <input v-model="item.node"  type="checkbox" >                
              </div>
        </div>
    </div>

     <div class="bg-info p-2">
        checked:
        <div v-for="item in filterDemo" :key="item.id" >
              <div>
                name demo: {{item.name}}
                <input v-model="item.node"  type="checkbox" >                
              </div>
        </div>
    </div>
</div>
</template>

<script>
import service from "@/service/admin/PostService.js";
import serviceCategories from "@/service/admin/CategoriesService.js";
export default {
  name: "App",
  data: function() {
    return {
      i: 0,
      checked: true,
      names: []
    };
  },
  beforeCreate() {
    console.log("beforeCreate method called" + this.checked);
  },
  created() {
    debugger;
    console.log("created method called" + this.checked);
  },
  updated() {
    this.names[this.i].name = "huan";
    this.i = this.i == this.names.length ? (this.i = 0) : (this.i += 1);
  },
  computed: {
    filterTask() {
      console.log(this.names);
      return this.names.filter(e => !e.node);
    },
    filterDemo() {
      return this.names.filter(e => e.node);
    }
  },

  mounted() {
    debugger;
    let self = this;
    serviceCategories.getData().then(res => {
      var message = res.message;
      res.item.forEach(name => this.names.push(name));
      // self.$el.dataset.names.split(",").forEach(name => this.names.push(name));
    });
  }
};
</script>
