<template>
<div>
    <b-container fluid>
        <!-- User Interface controls -->
        <b-row>
            <b-col md="4" class="my-2">
                <b-form-group horizontal label="Per page" class="mb-0 " slot="append">
                    <b-form-select :options="pageOptions" v-model="perPage" />
                </b-form-group>
            </b-col>
            <b-col md="3" class="my-2 ">
                <b-input-group-append>
                    <b-button variant="success" @click="openPopupAdd()">Add New</b-button>
                </b-input-group-append>
            </b-col>
            <b-col md="5" class="my-2">
                <b-form-group horizontal label="Search" class="mb-0 ">
                    <b-input-group>
                        <b-form-input v-model="filter" placeholder="Type to Search" />
                        <b-input-group-append>
                            <b-btn :disabled="!filter" @click="filter = ''">Clear</b-btn>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>
            </b-col>
        </b-row>
        <!-- Main table element -->
        <b-table show-empty stacked="md" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :sort-direction="sortDirection">
            <template slot="shortDescription" slot-scope="row">
                <div v-b-tooltip.hover :title="row.item.shortDescription" v-if="row.item.shortDescription != undefined && row.item.shortDescription.length > 20"> {{ row.item.shortDescription.substring(0, 20)}} ... </div>
                <div v-b-tooltip.hover :title="row.item.shortDescription" v-else> {{ row.item.shortDescription}} </div>
            </template>
            <template slot="slug" slot-scope="row">
                <div v-b-tooltip.hover :title="row.item.slug" v-if="row.item.slug != undefined && row.item.slug.length > 20"> {{ row.item.slug.substring(0, 20)}} ... </div>
                <div v-b-tooltip.hover :title="row.item.slug" v-else> {{ row.item.slug}} </div>
            </template>
            <template slot="content" slot-scope="row">
                <div v-html="row.item.content"></div>
            </template>
            <template slot="thumbnailImage" slot-scope="row">
                <img :src="row.item.thumbnailImage" width= 40px height=40px >
            </template>
                <template slot="actions" slot-scope="row">
                    <b-button size="sm" @click.stop="openPopupEdit(row.item)" class="mr-1">
                        Edit
                    </b-button>
                    <b-button size="sm" @click="openPopupDelete(row.item)" class="mr-1">
                        Delete
                    </b-button>
                </template>
                <template slot="row-details" slot-scope="row">
                    <b-card>
                        <ul>
                            <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value}}</li>
                        </ul>
                    </b-card>
                </template>
        </b-table>
        <b-row>
            <b-col md="6" class="my-1">
                <b-pagination :total-rows="totalRowData" :per-page="perPage" v-model="currentPage" class="my-0" />
            </b-col>
        </b-row>
    </b-container>
 
    <!-- popup delete -->
    <div>
        <div class="centerx">
            <vs-popup class="holamundo" title="Delete Categories" :active.sync="isDeletePopup">
                <p>
                    are you sure delete this post?
                </p>
                <!-- <p>{{Name}}</p> -->
                <vs-button @click="removePopupDelete()" color="primary" vs-type="filled">Ok</vs-button>
                <vs-button @click="cancelPopupDelete()" color="warning" cvs-type="filled">Cancel</vs-button>
            </vs-popup>
        </div>
    </div>
    <!-- popup edit -->
    <!-- <edit-post></edit-post> -->
    <div>
        <div class="centerx">
            <vs-popup fullscreen class="holamundo" title="Edit Categories" :active.sync="isEditPopup">
                <div>
                    <form class="form-signin" @submit.prevent="validateBeforeSubmitEdit()">

                        <h4 class="header-anchor">Slug</h4>
                        <input class="form-control mb-2" name="Slug" @keyup="setRegxSlug()" v-model="Slug" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('Slug') }" type="text" placeholder="ex: news-technology">
                        <span v-show="errors.has('Slug')" class="form-text text-danger mb-2">{{ errors.first('Slug') }}</span>

                        <h4>Short Description</h4>
                        <textarea class="form-control mb-2" rows="3"  name="ShortDescription" v-model="ShortDescription"  v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('ShortDescription') }"  placeholder="ShortDescription"></textarea>
                        <span v-show="errors.has('ShortDescription')" class="form-text text-danger mb-2">{{ errors.first('ShortDescription') }}</span>

                        <h4>Categories</h4>
                        <select name="Categories"  class="form-control" v-model="CategoriesId" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('Categories') }">
                          <option :key="index" v-for="(item,index) in selectItemData" :value="item.value" :is-selected.sync=CategoriesId >{{item.text}} </option>
                        </select>
                        <span v-show="errors.has('CategoriesId')" class="form-text text-danger mb-2">{{ errors.first('CategoriesId') }}</span>

                        <div>
                            <vs-row>
                                <vs-col vs-justify="center" vs-align="center" vs-w="6" id="uploadEdit">
                                    <h4>New Thumbnail Image</h4>
                                    <vs-upload id="imas" limit="1" name="ThumbnailImage" automatic action="" @on-success="successUpload()" />
                                </vs-col>
                                <vs-col vs-justify="center" vs-align="center" vs-w="6">
                                    <h4>Old Thumbnail Image</h4>
                                    <div style="width:auto height:250px " class="card">
                                        <img :src="olbThumbnailImage"  style="height:250px; border-style: dotted" />
                                 </div>
                                </vs-col>
                            </vs-row>
                        </div>

                        <!-- <div class="row">
                            <div class="col-md-6 " id="uploadEdit">
                              <h4>New Thumbnail Image</h4>
                                <vs-upload limit="1" name="ThumbnailImage" automatic action="" @on-success="successUpload()" v-model="ThumbnailImage" />
                            </div>
                            <div class="col-md-6 " >
                                <h4>Old Thumbnail Image</h4>
                                <div style="width:auto height:250px " class="card">
                                    <img :src="olbThumbnailImage"  style="height:250px; border-style: dotted" />
                                 </div>
                            </div>
                        </div> -->

                        <h4>Content</h4>
                        <froala :tag="'textarea'" id="fradd" name="Content" :config="config" v-model="Content" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('Content') }"></froala>
                        <span v-show="errors.has('Content')" class="form-text text-danger mb-2">{{ errors.first('Content') }}</span>
                        <vs-button class="btn btn-md btn-primary btn-block mb-1" type="submit">Save</vs-button>
                    </form>
                </div>
            </vs-popup>
        </div>
    </div>
</div>
</template>

      

<script>
var baseUrlUpload = process.env.VUE_APP_UPLOAD_FILE_API;
import service from "@/service/admin/PostService.js";
import EditPost from "@/components/admin/post/EditPost.vue";
import Demo from "@/components/admin/post/demo.vue";
import serviceCategories from "@/service/admin/CategoriesService.js";
export default {
  computed: {
    // items() {
    //   return this.$store.state.item_data_add;
    // },
    // totalRows() {
    //   return this.$store.state.total_row_table;
    // },
    // selectItemData() {
    //   return this.$store.state.select_item_data;
    // },
    closeAddPopup() {
      return this.$store.state.is_add_popup;
    }
  },
  updated() {
    console.log("this first 1");
    let self = this;
    let res = [
      {
        id: "1",
        name: "23",
        thumbnailImage: "",
        categoriesId: "23",
        slug: "alo",
        orderIndex: 1
      }
    ];
    // res.forEach(obj => this.items.push(obj));
    // this.totalRowData = res.item.length;
    // service.getData().then(res => {
    //   console.log(res);
    //   res.item.forEach(obj => this.items.push(obj));
    //   this.totalRowData = res.item.length;
    // });
    console.log("this first 2");
  },
  data() {
    return {
      selectItemData: [],
      items: [],
      totalRowData: 0,
      closeAdd: false,
      select2: 1,
      config: {
        imageUploadURL: baseUrlUpload,
        imageUploadParams: {
          location: "content-page-images"
        },
        events: {
          "froalaEditor.initialized": function() {}
        },
        height: 300
      },
      CategoriesId: "",
      Content: "",
      _id: "",
      Name: "",
      Description: "",
      isAddPopup: false,
      isDeletePopup: false,
      isEditPopup: false,
      show: true,
      olbThumbnailImage: "",
      ThumbnailImage: "",
      ShortDescription: "",
      Slug: "",
      foods: [
        {
          text: "Select One",
          value: null
        },
        "Carrots",
        "Beans",
        "Tomatoes",
        "Corn"
      ],
      fields: [
        {
          key: "orderIndex",
          label: "Order Index",
          class: "text-left mb-1",
          sortable: true
        },
        {
          key: "slug",
          label: "Slug",
          sortable: true,
          class: "text-left"
        },
        {
          key: "shortDescription",
          label: "ShortDescription",
          class: "text-left",
          sortable: true
        },
        {
          key: "thumbnailImage",
          label: "Thumbnail Image",
          class: "text-left",
          sortable: true
        },
        {
          key: "actions",
          label: "Actions",
          class: "text-center"
        }
      ],
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: null,
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      modalInfo: {
        title: "",
        content: ""
      }
    };
  },
  methods: {
    nonAccentVietnamese(str) {
      str = str.toLowerCase();
      str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
      str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
      str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
      str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
      str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
      str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
      str = str.replace(/đ/g, "d");
      str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, "");
      str = str.replace(/\u02C6|\u0306|\u031B/g, "");
      str = str.replace(/[^a-zA-Z0-9]/g, "-");
      str = str.replace(/(-){2,1000}/g, "-");
      return str;
    },
    setRegxSlug() {
      this.Slug = this.nonAccentVietnamese(this.Slug);
    },
    // start add popup

    openPopupAdd() {
      this.$router.push({ name: "addpost" });
    },
    successUpload() {
      this.$vs.notify({
        color: "success",
        title: "Upload Success"
        // text: "Lorem ipsum dolor sit amet, consectetur"
      });
    }, // end add popup
    // start delete popup
    cancelPopupDelete() {
      this.isDeletePopup = false;
    },
    openPopupDelete(item) {
      this.isDeletePopup = true;
      this.Name = item.name;
      this._id = item.id;
    },
    removePopupDelete() {
      this.$vs.loading({
        color: "#7d0c3f"
      });
      service
        .deleted(this._id)
        .then(res => {
          this.$store.commit("totalRowData", res.item);
          this.$store.commit("getData", res.item);
          this.isDeletePopup = false;
          var message = res.message;
          this.$vs.loading.close();
          this.$vs.notify({
            title: "Delete Item",
            text: message,
            color: "green",
            position: "top-center"
          });
        })
        .catch(err => {
          this.$vs.loading.close();
          this.$vs.notify({
            title: "Delete Item",
            text: " can't delete",
            color: "green",
            position: "top-center"
          });
        });
    }, // end delete popup

    // start edit popup
    cancelPopupEdit() {
      this.isDeletePopup = false;
    },
    openPopupEdit(item) {
      localStorage.setItem("post-detail", JSON.stringify(item));
      this.$router.push({ name: "editpost" });
    },
    validateBeforeSubmitEdit() {
      this.ThumbnailImage = $("#uploadEdit")
        .find("img")
        .last()
        .attr("src");
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$vs.loading({
            color: "#7d0c3f"
          });
          var obj = {
            Id: this.Id,
            ShortDescription: this.ShortDescription,
            Slug: this.Slug,
            ThumbnailImage:
              this.ThumbnailImage == "" || this.ThumbnailImage == undefined
                ? this.olbThumbnailImage
                : this.ThumbnailImage,
            Content: this.Content,
            CategoriesId: this.CategoriesId
          };
          service
            .edit(obj)
            .then(res => {
              this.$vs.loading.close();
              this.$store.commit("totalRowData", res.item);
              this.$store.commit("getData", res.item);
              this.isEditPopup = false;
              this.$vs.notify({
                title: "Edit Item",
                text: res.message,
                color: "green",
                position: "top-center"
              });
            })
            .catch(err => {
              this.$vs.loading.close();
              this.$vs.notify({
                title: "Edit Item",
                text: err.message,
                color: "red",
                position: "top-center"
              });
            });
        }
        return;
      });
    }
  }, // end edit popup
  mounted() {
    let self = this;
    service.getData().then(res => {
      res.item.forEach(obj => this.items.push(obj));
      this.totalRowData = res.item.length;
      // this.$store.commit("totalRowData", res.item);
      // this.$store.commit("getData", res.item);
    });
    // serviceCategories.getData().then(res => {
    //   var message = res.message;
    //   console.log(res.item);
    //   res.item.forEach(name => this.names.push(name.name));
    //   self.$el.dataset.names.split(",").forEach(name => this.names.push(name));
    // });
  }
};
</script>

<style>
.con-vuecode .con-demo .demo {
  padding: 10px;
}
</style>
