<template>
<div>
    <!-- <header>
        <div class="row">
             <div class="col-md-2">
             </div>
            <div class="col-md-4">
                <div class="col-md-8 justify-content-start">
                  <router-link :to="{ name: 'blog-list'}">
                    <h1>Blog Live</h1>

                  </router-link>

                </div>

            </div>
            <div class="col-md-4 ">
                <b-nav class="justify-content-end">
                    <b-nav-item>Categories
                        
                    </b-nav-item>
                    <b-nav-item active>Login</b-nav-item>
                </b-nav>
            </div>
                <div class="col-md-2">
             </div>
        </div>

    </header> -->
    <header-layout></header-layout>
    <!-- <div class="menu-href-home">
        <b-breadcrumb :items="items" />
    </div> -->
    <div class="body" id="body-layout">
         
        <div class="row ">
            <!-- <div class="col-md-1">
             
            </div> -->
            <div class="col-md-3 sidebar-home" style="margin-left:10px">
                <h4>Recent News</h4>
                <hr>
                <sidebar-layout></sidebar-layout>
            </div>
            <div class="col-md-8">
                <router-view />
            </div>
             <div class="col-md-1">
             
            </div>
        </div>
    </div>
</div>
</template>

<script>
import HeaderLayout from "@/views/users/HeaderLayout.vue";
import SidebarLayout from "@/views/users/SidebarLayout.vue";
export default {
  name: "user",
  components: {
    HeaderLayout,
    SidebarLayout
  },
  data() {
    return {
      items: [
        {
          text: "Admin",
          href: "/blog-home"
        },
        {
          text: "Manage",
          href: "#"
        },
        {
          text: "Library",
          active: true
        }
      ]
    };
  }
};
</script>

<style scoped>
#body-layout {
  margin-top: 80px;
}

.tile-home {
  color: white;
}
.menu-href-home {
  margin-top: 60px;
  position: fixed;
}
.sidebar-home {
}
</style>
