<template>
<div>
    <!-- <div class="row mb-3">
        <div class="col-lg-4 col-md-6" v-for="(value, key) in items" :key="key">
            <div class="journal-info mb-30">
                <router-link :to="{ name: 'blog-detail', params: { url: value.slug }}"><img :src=value.thumbnailImage class="img-responsive" alt="img" style="height: 250px; width: 315px;"></router-link>
                <div class="journal-txt">
                    <h4>  <router-link :to="{ name: 'blog-detail', params: { url: value.slug }}" @click="setId(value.id)">{{value.shortDescription}}</router-link></h4>
                    
                </div>
            </div>
        </div>
    </div> -->
    <div class="row mb-9">
        <div class="col-md-4" v-for="(value, key) in items" :key="key">
            <b-card no-body :img-src="value.thumbnailImage" img-alt="Image" img-top>
                <h6 slot="header"> {{ value.createDate | moment("dddd, MMMM Do YYYY") }}</h6>
                <b-card-body>
                    <div class="card-text" v-if="value.shortDescription| value.shortDescription.length <50">
                        <div v-b-tooltip.hover :title="value.shortDescription" > {{value.shortDescription}} </div>
                        <p></p>
                    </div>
                    <div class="card-text" v-else>
                         <div v-b-tooltip.hover :title="value.shortDescription" > {{value.shortDescription.substring(0, 50)}} ... </div>   
                     </div>
                </b-card-body>

                <b-card-footer>
                    <router-link :to="{ name: 'blog-detail', params: { url: value.slug }}">Read more</router-link>
                </b-card-footer>

            </b-card>
        </div>
    </div>
</div>
</template>

<script>
import service from "@/service/admin/PostService.js";

export default {
  computed: {
    items() {
      return this.$store.state.item_data_add;
    }
  },
  created() {
    service.getData().then(res => {
      this.$store.commit("getData", res.item);
    });
  },
  methods: {
    setId(id) {
      this.$store.commit("setCategoriesId", id);
    }
  }
};
</script>

<style scoped>
.card-img-top {
  height: 250px;
  width: auto;
}
.col-md-4 {
  margin-bottom: 15px;
}
</style>