<template>
<div>
    <div class="row mb-3">
        <div v-if="items.length ==0">
            <h1> Post empty</h1>
        </div>
        <div class="col-md-4" v-for="(value, key) in items" :key="key">
            <b-card no-body :img-src="value.thumbnailImage" img-alt="Image" img-top>
             
                <h6 slot="header"> <i class="fa fa-clock-o" aria-hidden="true"></i> {{ value.createDate | moment("dddd, MMMM Do YYYY") }}</h6>
                <b-card-body>
                    <div class="card-text" v-if="value.shortDescription| value.shortDescription.length <50">
                        <div v-b-tooltip.hover :title="value.shortDescription" > {{value.shortDescription}} </div>
                        <p></p>
                    </div>
                    <div class="card-text" v-else>
                         <div v-b-tooltip.hover :title="value.shortDescription" > {{value.shortDescription.substring(0, 50)}} ... </div>   
                     </div>
                </b-card-body>

                <b-card-footer>
                    <router-link :to="{ name: 'blog-detail', params: { url: value.slug }}">Read more</router-link>
                </b-card-footer>

            </b-card>
        </div>

    </div>
</div>
</template>

<script>
import service from "@/service/admin/PostService.js";

export default {
  computed: {
    items() {
      return this.$store.state.item_data_add;
    }
  },
  created() {
    var id = this.$route.params.url + "";
    service.getDataByPostId(id).then(res => {
      this.$store.commit("getData", res.item);
    });
  },
  beforeRouteUpdate(to, from, next) {
    var id = to.params.url + "";
    service
      .getDataByPostId(id)
      .then(res => {
        this.$store.commit("getData", res.item);
        next();
      })
      .catch(err => {
        next();
      });
  }
};
</script>

<style scoped>
.card-img-top {
  height: 250px;
  width: auto;
}
.col-md-4 {
  margin-bottom: 15px;
}
</style>
