<template>
<div>
    <div class="row mb-2" v-for="(value, key) in items" :key="key">
        <div class="col-lg-11 col-md-11" >
            <div class="journal-info  text-left">
                <!-- <router-link :to="{ name: 'blog-detail', params: { url: value.slug }}"><img :src=value.thumbnailImage class="img-responsive" alt="img" style="height: 100px; width: 200px;"></router-link> -->
                <div class="journal-txt">
                    
                      <router-link v-if="value.shortDescription| value.shortDescription.length <50" :to="{ name: 'blog-detail', params: { url: value.slug }}" @click="setId(value.id)">
<i class="fa fa-angle-double-right" aria-hidden="true"></i>   {{value.shortDescription}}
                          </router-link>
                      <router-link v-else :to="{ name: 'blog-detail', params: { url: value.slug }}" >
                            <div v-b-tooltip.hover :title="value.shortDescription" > <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{value.shortDescription.substring(0, 50)}} .. </div>
                      </router-link>
                    <!-- <p class="separator">To an English person, it will seem like simplified English -->
                    <!-- </p> -->
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import service from "@/service/admin/PostService.js";

export default {
  computed: {
    items() {
      return this.$store.state.last_post_item;
    }
  },
  created() {
    service.getLastPost().then(res => {
      this.$store.commit("setLastPost", res.item);
    });
  }
};
</script>
<style scoped>
</style>

