<template>
   <v-app >
    <component v-bind:is="layout"></component>
  </v-app>
 
</template>

<script>
import Login from "./views/shared/Login.vue";
// import Admin from './views/admin/layout.vue'
import DefaultLayout from "./views/admin/DefaultLayout.vue";
import DefaultLayoutUser from "./views/users/DefaultLayout.vue";

export default {
  computed: {
    layout() {
      return this.$store.getters.layout;
    }
  },
  components: {
    login: Login,
    admin: DefaultLayout,
    user: DefaultLayoutUser
    // define as many layouts you want for the application
  }
};
</script>


<style lang="less">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
