<template>
<div>
    <div class="row">
        <h5 class="label">Categories</h5><br>
    </div>
        <table-view></table-view>
</div>
</template>
<script>
import TableView from "@/components/admin/categories/TableView.vue";

export default {
  components: {
    TableView
  },
  data() {
    return {
      // isAddPopup: false,
      form: {
        email: "",
        name: "",
        food: null,
        checked: []
      },
      foods: [
        {
          text: "Select One",
          value: null
        },
        "Carrots",
        "Beans",
        "Tomatoes",
        "Corn"
      ],
      show: true
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      alert(JSON.stringify(this.form));
    },
    onReset(evt) {
      evt.preventDefault();
      /* Reset our form values */
      this.form.email = "";
      this.form.name = "";
      this.form.food = null;
      this.form.checked = [];
      /* Trick to reset/clear native browser form validation state */
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    }
  }
};
</script>

<style lang="css">
.labelx .vs-input {
  margin: 10px;
}
</style>
