<template>
<div>
    <v-app>
        <v-navigation-drawer fixed v-model="drawer" app>
            <v-list dense>
                <!-- start categories-->
                <v-list-tile>
                    <v-list-tile-action>
                        <v-icon></v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            Admin Blog
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <!-- end categories-->
                
            <!-- start categories-->
                <v-list-tile>
                    <v-list-tile-action>
                        <v-icon>home</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>
                               <a @click="setLayout('user')">Home</a>
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <!-- end categories-->

                <!-- start categories-->
                <v-list-tile>
                    <v-list-tile-action>
                        <v-icon>list</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            <router-link to="/admin/categories">Manage Categories</router-link>
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <!-- end categories-->
                <v-list-tile>
                    <v-list-tile-action>
                        <v-icon>contact_mail</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            <router-link to="/admin/post">Manage Post</router-link>
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar color="indigo" dark fixed app>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title></v-toolbar-title>
             <v-spacer></v-spacer>
            <v-toolbar-title >
                 <v-btn flat @click="logout()">logout</v-btn>
            </v-toolbar-title>
        </v-toolbar>
        <v-content>
            <v-container fluid>
                <b-container fluid>

                    <!-- <component> -->
                    <router-view />
                    <!-- </component> -->

                </b-container>

            </v-container>
        </v-content>
        <!-- <v-footer color="indigo" app>
      <span class="white--text">&copy; My blog</span>
    </v-footer> -->
    </v-app>

</div>
</template>

<script>
export default {
  name: "admin",
  computed: {
    component() {
      return this.$store.getters.component;
    }
  },
  data: () => ({
    drawer: null
    //  isAddPopup: false,
  }),
  props: {
    source: String
  },
  methods: {
    logout() {
      localStorage.removeItem("jwt_token");
      localStorage.removeItem("jwt_role");
      this.$store.commit("SET_LAYOUT", "user");
      this.$router.push({
        path: "/blog"
      });
    },
    setLayout(layout) {
      this.$store.commit("SET_LAYOUT", layout);
      this.$router.push({
        path: "/blog"
      });
    }
  }
};
</script>
