<template>
<div>
  <v-app>
    <v-navigation-drawer
      fixed
      v-model="drawer"
      app
    >
      <v-list dense>
        <!-- start categories-->
        <v-list-tile>
          <v-list-tile-action>
            <v-icon>Login</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title @click="setLayout('login')">
               Login
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <!-- end categories-->
        <!-- start categories-->
        <v-list-tile>
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title><router-link to="/categories">Manage Categories</router-link></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <!-- end categories-->
        <v-list-tile>
          <v-list-tile-action>
            <v-icon>contact_mail</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title> <router-link to="/post">Manage Post</router-link></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="indigo" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Application</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid >
        <b-container fluid>
       
    <!-- <component> -->
      <!-- <router-view/> -->
    <!-- </component> -->

    </b-container>
     
      </v-container>
    </v-content>
    <v-footer color="indigo" app>
      <span class="white--text">&copy; Its your app</span>
    </v-footer>
  </v-app>
   <!-- popup update -->
    <div>
        <div class="centerx">
            <!-- <vs-button @click="isAddPopup=true" color="primary" vs-type="border">Open Default popup</vs-button> -->
            <vs-popup class="holamundo" title="Add New Categories" :active.sync="isAddPopup">
                <div>
                    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                        <b-form-group id="exampleInputGroup1" label="Email address:" label-for="exampleInput1" description="We'll never share your email with anyone else.">
                            <b-form-input id="exampleInput1"   type="email"  required placeholder="Enter email">
                            </b-form-input>
                          
                        </b-form-group>
                        <b-form-group id="exampleInputGroup2" label="Your Name:" label-for="exampleInput2">
                            <b-form-input id="exampleInput2" type="text" v-model="form.name" required  placeholder="Enter name">
                            </b-form-input>
                        </b-form-group>
                        <b-form-group id="exampleInputGroup3" label="Food:" label-for="exampleInput3">
                            <b-form-select id="exampleInput3" :options="foods" required v-model="form.food">
                            </b-form-select>
                        </b-form-group>
                        <b-form-group id="exampleGroup4">
                            <b-form-checkbox-group v-model="form.checked" id="exampleChecks">
                                <b-form-checkbox value="me">Check me out</b-form-checkbox>
                                <b-form-checkbox value="that">Check that out</b-form-checkbox>
                            </b-form-checkbox-group>
                        </b-form-group>
                        <b-button type="submit" variant="primary">Submit</b-button>
                        <b-button type="reset" variant="danger">Reset</b-button>
                    </b-form>
                </div>

            </vs-popup>
        </div>
    </div>
  </div>
</template>

<script>
  export default {
      data: () => ({
      drawer: null,
       show: true,
        isAddPopup: false,
         form: {
        email: "",
        name: "",
        food: null,
        checked: []
      },
       foods: [
        {
          text: "Select One",
          value: null
        },
        "Carrots",
        "Beans",
        "Tomatoes",
        "Corn"
      ],
    }),
    props: {
      source: String
    },
     methods: {
        setLayout (layout) {
      this.$store.commit('SET_LAYOUT', layout)
    },
    onSubmit(evt) {
      evt.preventDefault();
      alert(JSON.stringify(this.form));
    },
    onReset(evt) {
      evt.preventDefault();
      /* Reset our form values */
      this.form.email = "";
      this.form.name = "";
      this.form.food = null;
      this.form.checked = [];
      /* Trick to reset/clear native browser form validation state */
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    }
  }
  
  }
</script>
